/* Imported Google Font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

/* Universal Styles */

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin: 2px;
    padding: 0;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 18px;
}

/* Main Container Styles */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Quiz Area Styles */

#quiz-box {
    width: 35%;
    text-align: center;
}

h1 {
    font-weight: 500;
    padding: 15px 0;
}

/* Start Quiz Button */

#quiz-start {
   background-color: rgba(117, 48, 194, 1);
   color: white;
   padding: 3px 5px;
   border-radius: 5px;
   margin: 20px;
   font-size: 16px;
}

#quiz-start:hover {
    background-color: rgba(117, 48, 194, 0.5);
}

.hidden {
    display: none;
}

#questions p {
    background-color: rgba(117, 48, 194, 1);
    color: white;
    cursor: pointer;
    padding-left: 5px;
    margin-bottom: 5px;
}

#questions p:hover {
    background-color: rgba(117, 48, 194, 0.5);
    color: white;
}
